@import url(https://fonts.googleapis.com/css?family=Sniglet);
*{
    word-wrap: break-word;
    font-family: 'Sniglet', Monaco; Menlo; Osaka; monospace;
}
body {
    background-color: #6bebdd;
    color: #FFFFFF;
}
label{
    font-size: 1.5em;
    margin-top: 20px;
    padding-left: 20px;
}
input {
    border: none;
}
.signin-out {
    line-height: 40px;
    width: 100px;
    font-size: 1.2em;
    cursor: pointer;
    text-align: center;
    font-family: 'Sniglet', Monaco; Menlo; Osaka; monospace;
    margin-top: 20px;
    margin-right: 50px;
    position:absolute;
    top:0;
    right:0;
    background-color: rgba(255,255,255,0.3);
}
.answer-input:focus {
    outline: none;
    border-color: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
.answer-input {
    background: none;
    margin-bottom: 10px;
    line-height: 2.4em;
    color: #fff;
    width: 100%;
    font-family: 'Sniglet', Monaco; Menlo; Osaka; monospace;
    letter-spacing: 0px;
    letter-spacing: 0.02rem;
    font-size: 19px;
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.65);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
.boxy-q {
    font-size: 1.3em;
}
.boxy-a {
    font-size: 1.3em;
}
.header {
    max-width: 95%;
    text-align: center;
    margin:0 auto;
    padding-top: 100px;
    font-size: 72pt;
}
.question-container {
    width: 80%;
    max-width: 1200px;
    margin:0 auto;
}
.boxy {
    width: 70%;
    margin:0 auto;
    max-width: 1200px;
}
.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
    margin:0 auto;
}
.btn-boxy {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
}
.btn-boxy span {
    transition: all 0.3s;
}
.btn-boxy::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.8);
    border-bottom-color: rgba(255,255,255,0.8);
    transform: scale(0.1, 1);
}
.btn-boxy:hover span {
    letter-spacing: 2px;
}
.btn-boxy:hover::before {
    opacity: 1;	
    transform: scale(1, 1);	
}
.btn-boxy::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.3);
}
.btn-boxy:hover::after {
    opacity: 0;	
    transform: scale(0.1, 1);
}
.question-container .question {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    resize: none;
    border: none;
    border-radius: 20px;
    outline: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 1em;
}
.answer-input-btn {
    border: none;
    color: #FFF;
    padding: 6px 6px;
    font-size: 16px;
    cursor: pointer;
    background-color: #6bebdd;
}
.answer-input-btn:hover {
    color: #EEE;
}
@media all and (max-width: 320px) {
    .signin-out {
        line-height: 30px;
        width: 80px;
        font-size: 1em;
        margin-top: 10px;
        margin-right: 20px;
    }
}
@media all and (max-width: 800px) {
    .header {
        font-size: 22pt;
    }
    .question-container {
        max-width: 80%;
    }
    label{
        font-size: 1.1em;
        margin-top: 20px;
        padding-left: 10px;
    }
    .btn {
        width: 243px;
    }
}
@media all and (min-width: 800px) {
    .header {
        font-size: 52pt;
    }
}
